@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;

}


.container{
  /* border: 2px solid red; */
  border-radius: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */

  background-color: #262626;
  width: 350px;
  height: 500px;
  margin-top: 100px;

}

header{
  /* border: 2px solid red; */
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #323232;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  height: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dial{
  /* border: 2px solid rebeccapurple; */
  transform: translate(23%, 30%);
  width: 70%;
  height: 50%;
  display: flex;
  flex-flow: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  color: white;

  border-radius: 50%;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
   rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}

.dial h3{
  font-size: 25px;
}

.dial p{
  font-size: 14px;
  font-weight: 600;
  color: #2F90FE;
  color: orange;
  color: red;
}